<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="stylesheet" href="style.css">
    <script src="/home.js" defer></script>
</head>
<body>
    <div class="sidebar">
        <a href="home.html"></i>Home</a>
        <a>Explore</a>
        <a>Messages</a>
        <a>Profile</a>
    </div>
    <main>
        <div class="post-tweet">
            <h3>Home</h3>
            <input class="type-tweet" placeholder="What's happening?" maxlength="208"></input>
            <div class="submit-tweet">
                <button class="post-button">Post</button>
                <input class="username" placeholder="Username?" maxlength="10"></input>
            </div>
        </div>
        <div class="tweet-container"></div>
    </main>
</body>
</html>